<div>
  <h2 class="wizardTitle">Step 7 - Pick your influencers</h2>
  <p class="wizardSubtitle">Pick from mCart Influencers or invite your own</p>
  <div class="optionMainContainer .col-xs-12 row">
    <div class="optionContainer .col-md-4 .col-sm-6 .col-xs-12">
      <p class="dropdownTitle">mCart more than *</p>
      <div class="col">
        <div ngbDropdown class="dropdownContainer">
          <button class="dropdownButton" id="dropdownBasic1" ngbDropdownToggle>{{currMCartVal}}</button>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownContainer">
            <li *ngFor="let mCart of mCartArr; let i = index">
              <button class="dropdown-item" (click)="onSelectMCart(mCart)">{{mCart}}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="optionContainer .col-md-4 .col-sm-6 .col-xs-12">
      <p class="dropdownTitle">Followers more than *</p>
      <div class="col">
        <div ngbDropdown class="dropdownContainer">
          <button class="dropdownButton" id="dropdownBasic1" ngbDropdownToggle>{{currFollowersVal}}</button>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownContainer">
            <li *ngFor="let follower of followersArr; let i = index">
              <button class="dropdown-item" (click)="onSelectFollowers(follower)">{{follower}}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="optionContainer .col-md-4 .col-sm-6 .col-xs-12">
      <p class="dropdownTitle">Influencers interests</p>
      <div class="col">
        <div ngbDropdown class="dropdownContainer">
          <button class="dropdownButton" id="dropdownBasic1" ngbDropdownToggle>{{currInterest.name}}</button>
          <ul>
            <li ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownContainer"
              *ngFor="let interest of interests; let i = index">
              <button class="dropdown-item" (click)="onSelectInterest(interest)">{{interest.name}}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row rowContainer">
    <div *ngFor="let influencer of influencersListWChecks; let i = index">
      <div class="influencerRow col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="profileContainer">
          <div class="nameHeader" [ngStyle]="{'background-color':influencersListWChecks[i].isChecked ? '#93d0cc' : 'white' }">
            <p class="headerText" [ngStyle]="{'color':influencersListWChecks[i].isChecked ? 'white' : '#444444' }">
              {{influencer.name}}</p>
          </div>
          <div class="profileImageContainer">
            <img class="rounded profileImage" src={{influencer.image_url}}
            onError="this.src='https://i.redd.it/s8lk86v3r2m11.png';"
            >
          </div>
          <mat-checkbox [(ngModel)]="influencersListWChecks[i].isChecked" class="imgChkBox" id="tag{{influencer.id}}">
          </mat-checkbox>
          <!-- <input type="checkbox" [(ngModel)]="influencersListWChecks[i].isChecked" class="imgChkBox"
            id="tag{{influencer.id}}" /> -->
        </div>
      </div>
    </div>
  </div>
</div>