<div>
  <h2>Enter the information below to recieve an exact quote</h2>
  <div>
    <p>Full Name</p>
    <input type="text" [(ngModel)]="fullname" />
  </div>
  <div>
    <p>Company Name</p>
    <input type="text" [(ngModel)]="companyName" />
  </div>
  <div>
    <p>Telephone Number</p>
    <input type="text" [(ngModel)]="phoneNum" />
  </div>
  <div>
    <p>Email</p>
    <input type="text" [(ngModel)]="email" />
  </div>
  <div>
    <p>Website URL</p>
    <input type="text" [(ngModel)]="url" />
  </div>
  <div>
    <p>Reffered By</p>
    <input type="text" [(ngModel)]="refferedBy" />
  </div>
  <div>
    <p>Comments</p>
    <input type="text" [(ngModel)]="comments" />
  </div>
</div>