<p class="wizardTitle">Step {{currStepNumber + 1}} - Business</p>
<p class="wizardSubtitle">Please tell us about your business so we can suggest the right plan for you</p>
<form [formGroup]="pricingWizardManagerService.marketPlaceCalculatorForm">
  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
    [formControl]="pricingWizardManagerService.businessType">
    <mat-radio-button color="primary" class="example-radio-button" *ngFor="let item of itemsList" [value]="item.value">
      {{item.name}}
      <input *ngIf="item.value=='other'" type="text" #otherInputBox matInput
        class="textInput form-control optionText radioOpt" [formControl]="pricingWizardManagerService.otherBusiness"
        [ngClass]="{ 'is-invalid': pricingWizardManagerService.otherBusiness.invalid }">
    </mat-radio-button>
  </mat-radio-group>
</form>
