.wizardSubtitleDark {
    padding-right: 15px;
}

.gmv {
    border-left: 2px solid #e1e1e1;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: 0px;
    color: #444444;
    margin-right: 10px;
}

.gmvInput{
    padding: 0px 5px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: 0px;
    color: #444444;
    border: 
}

.col-xs-12 .gmv {
    border-left: 0px;
    padding-left: 0px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: 0px;
    color: #444444;
    margin-right: 10px;
}

.gmvRow {
    padding: 0;
}

.row {
    margin-left: 0px;
    align-items: center;
    /* background: red; */
}

.rowSlider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.wizardSubtitle {
    align-self: center;
    margin-top: 15px;
}

.percentage {
    font-size: 14px;
    color: #515151;
    margin-bottom: 15px;
}

.mat-slider-horizontal {
    width: 100%;
}