<div>
  <h2>Step 4 - GMV</h2>
  <p>Pick your desired revenue and influencer payout and commission that you want to pay to see your approximate profit
    and platform cost. You can fine-tune these numbers in the next steps</p>
  <div>
    <div>
      <h2>Captured by the mCart platform</h2>
      <p>GMV: {{gmv$}}</p>
    </div>
    <ng5-slider [(value)]="captureValue" [options]="captureOptions"></ng5-slider>
    <div>
      <p>0%</p>
      <p>100%</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Platform Commission</h2>
      <p>GMV: {{gmv$}}</p>
    </div>
    <ng5-slider [(value)]="platformValue" [options]="platformOptions"></ng5-slider>
    <div>
      <p>0%</p>
      <p>100%</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Influencer Payout</h2>
      <p>GMV: {{gmv$}}</p>
    </div>
    <ng5-slider [(value)]="influencerValue" [options]="influencerOptions"></ng5-slider>
    <div>
      <p>0%</p>
      <p>100%</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Shopper's Rebate</h2>
      <p>GMV: {{gmv$}}</p>
    </div>
    <ng5-slider [(value)]="influencerValue" [options]="influencerOptions"></ng5-slider>
    <div>
      <p>0%</p>
      <p>100%</p>
    </div>
  </div>
</div>