<div class="col-xs-12">
  <h2 class="wizardTitle">Step 8: Number of users</h2>
  <p class="wizardSubtitle">Pick the user package that fits your business needs</p>

  <form [formGroup]="form" class="row planOptRow col-xs-12">
    <div [className]="isSelectedGroup('plan1') ? 'planOptContainer' : 'planOptContainerHighlighted'">
      <div class="optTextGroup">
        <p class="optText">10K Shoppers </p>
        <p class="optText">30 Influencers</p>
        <p class="optText">No Sales People</p>
        <p class="optText">1 Admin</p>
      </div>
      <input type="radio" value="plan1" formControlName="usersPlan">
    </div>
    <div [className]="isSelectedGroup('plan2') ? 'planOptContainer' : 'planOptContainerHighlighted'">
        <div class="optTextGroup">
        <p class="optText">1M Shoppers</p>
        <p class="optText">200 Influencers</p>
        <p class="optText">30 Sales People</p>
        <p class="optText">5 Admins</p>
      </div>
      <input type="radio" value="plan2" formControlName="usersPlan">
    </div>
    <div [className]="isSelectedGroup('plan3') ? 'planOptContainer' : 'planOptContainerHighlighted'">
        <div class="optTextGroup">
        <p class="optText">10M </p>
        <p class="optText">1000 Influencers</p>
        <p class="optText">200 Sales People</p>
        <p class="optText">12 Admins</p>
      </div>
      <input type="radio" value="plan3" formControlName="usersPlan">
    </div>
    <div [className]="isSelectedGroup('plan4') ? 'planOptContainer' : 'planOptContainerHighlighted'">
        <div class="optTextGroup">
        <p class="optText">Unlimited Users of all types </p>
      </div>
      <input type="radio" value="plan4" formControlName="usersPlan">
    </div>

  </form>
</div>
