.planOptRow {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex: 1;
}

.planOptContainer {
  border: 2px solid #7ce1d9;
  border-radius: 5px;
  height: 200px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.planOptContainerHighlighted {
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  height: 200px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.optTextGroup{
}

.optText {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .5rem;
  text-align: center;
}
