<div class="planContainer">
  <h4 class="viewFullText">The Right Plan for you</h4>
  <h4 class="planTitle">{{selectedPlan.planName}}</h4>
  <img class="spectrum" src="../../assets/images/spectrum.png" />
  <div class="banner">
    <h4 class="bannerText">In this tier you get</h4>
  </div>
  <div class="storeContainer">
    <div class="storeSingleRow">
      <img src="../../assets/images/Asset 1.png" class="storeIcon" />
      <h4 class="storeNum">{{selectedPlan.stores}} Stores</h4>
    </div>
    <div class="storeRow">
      <div class="storeCol">
        <img src="../../assets/images/Asset 2.png" class="storeIcon" />
        <h4 class="storeNum">{{selectedPlan.shoppers}} Shoppers</h4>
      </div>
      <div class="storeCol">
        <img src="../../assets/images/Asset 3.png" class="storeIcon" />
        <h4 class="storeNum">{{selectedPlan.influencers}} Influencers</h4>
      </div>
      <div class="storeCol">
        <img src="../../assets/images/Asset 4.png" class="storeIcon" />
        <h4 class="storeNum">{{selectedPlan.admin}} Admin</h4>
      </div>
    </div>
    <div class="storeSingleRow">
      <img src="../../assets/images/Asset 1.png" class="storeIcon" />
      <h4 class="storeNum">{{selectedPlan.productCategory}} Product Categories</h4>
    </div>
    <div class="storeSingleRow">
      <img src="../../assets/images/Asset 1.png" class="storeIcon" />
      <h4 class="storeNum">{{selectedPlan.mCarts}} mCarts</h4>
    </div>
  </div>
  <div class="viewFullContainer">
    <h4 class="viewFullText">View Full Comparison</h4>
  </div>
</div>