<div>
  <h2>Step 5 - Supported Stores</h2>
  <p>Select any store that wish to support in your marketplace</p>

  <div>
    <div class="list-group">
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">
        {{orders[i].name}}
        <input type="checkbox" [formControlName]="i">
      </li>
    </div>

    <div>
      <div>
        <p>store list</p>
      </div>
      <form [formGroup]="storeForm" (ngSubmit)="submit()">
        <label formArrayName="suggestedStores"
          *ngFor="let store of storeForm.controls.suggestedStores.controls; let i = index">
          <div>
            {{suggestedStores[i].name}}
            <input type="checkbox" [formControlName]="i">
          </div>
        </label>
      </form>
    </div>
  </div>