<div>
  <h2 class="wizardTitle">Step 5 - Supported Stores</h2>
  <p class="wizardSubtitle">Select any store that wish to support in your marketplace</p>

  <div>
    <ul class="list-group list-container">
      <li class="list-group-item listHeader listItemContainer">
        <p class="list-item-title"><b>Store List</b></p>
      </li>
      <li class="list-group-item listItemContainer" *ngFor="let order of ordersListWCheck; let i = index;"
        [ngClass]="{oddListRow: (i % 2) === 1, evenListRow: (i % 2) === 0 }">
        <p class="list-item-title">{{order.name}}</p>
        <input type="checkbox" class="radioButton" [(ngModel)]="ordersListWCheck[i].isChecked" />
      </li>
      <app-add-store-modal></app-add-store-modal>
    </ul>
  </div>


  <div class="suggested-stores">
    <ul class="list-group list-container">
      <li class="list-group-item listHeader listItemContainer">
        <p class="list-item-title"><b>Suggested Stores</b></p>
      </li>
      <li class="list-group-item listItemContainer" *ngFor="let order of suggestedStores; let i = index;"
        [ngClass]="{oddListRow: (i % 2) === 1, evenListRow: (i % 2) === 0 }">
        <p class="list-item-title">{{order.name}}</p>
      </li>
    </ul>
  </div>
</div>