<div class="jumbotron-fluid mainContainer">
  <h1 class="benefitsTitle">Benefits</h1>
  <p class="benefitsSubTitle">Look at the great amount of benefits that mCart has for you</p>
</div>
<div class="col-xs-12 benefitsListContainer">
  <div class="benefitInnerContainer col-xs-12 col-md-10 col-lg-8"
    *ngFor="let benefitItem of selectedBenefits.benefitItemsList; let i = index">
    <div class="row benefitItemContainer" *ngIf="i%2===0">
      <div class="carouselContainer">
        <ngb-carousel *ngIf="benefitItem.mainImage" [showNavigationArrows]="isImageArray(benefitItem.mainImage)"
          [showNavigationIndicators]="isImageArray(benefitItem.mainImage)">
          <ng-template ngbSlide *ngFor="let image of benefitItem.mainImage">
            <img class="benefitImage" [attr.src]="getImageName(image)" onError="this.src='https://www.unesale.com/ProductImages/Large/notfound.png'"/> 
          </ng-template>
        </ngb-carousel>
      </div>

      <!-- <img class="benefitImage col-xs-10 col-md-4" src="{{getImageName(benefitItem.image)}}"> -->
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" [attr.src]="getIconName(benefitItem.icon)" onError="this.src='https://www.unesale.com/ProductImages/Large/notfound.png'"/>
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit {{i+1}}<br />{{benefitItem.heading}}</h3>
          <p class="benefitDetailText">{{benefitItem.description}}</p>
        </div>
      </div>
    </div>
    <div class="row benefitItemContainer" *ngIf="i%2===1">
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" [attr.src]="getIconName(benefitItem.icon)" onError="this.src='https://www.unesale.com/ProductImages/Large/notfound.png'"/>
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit {{i+1}}<br />{{benefitItem.heading}}</h3>
          <p class="benefitDetailText">{{benefitItem.description}}</p>
        </div>
      </div>
      <div class="carouselContainer">
        <ngb-carousel *ngIf="benefitItem.mainImage" [showNavigationArrows]="isImageArray(benefitItem.mainImage)"
          [showNavigationIndicators]="isImageArray(benefitItem.mainImage)">
          <ng-template ngbSlide *ngFor="let image of benefitItem.mainImage">
            <img [attr.src]="getImageName(image)" alt="Random slide" class="benefitImage" onError="this.src='https://www.unesale.com/ProductImages/Large/notfound.png'">
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 completeFormButtonContainer">
  <button class="completeFormButton" (click)="scrollUpToForm()">Complete the form</button>
</div>