<div class="jumbotron-fluid mainContainer">
  <h1 class="benefitsTitle">Benefits</h1>
  <p class="benefitsSubTitle">Look at the great amount of benefits that mCart has for you</p>
</div>
<div class="col-xs-12 benefitsListContainer">
  <div class="benefitInnerContainer col-xs-12 col-md-10 col-lg-8"
    *ngFor="let benefitItem of benefits.benefitItemsList; let i = index">
    <div class="row benefitItemContainer" *ngIf="i%2 === 0">
      <ngb-carousel *ngIf="images" [showNavigationArrows]="true"
        [showNavigationIndicators]="true">
        <ng-template ngbSlide *ngFor="let image of images">
          <img [src]="image" alt="Random slide" class="benefitImage ">
          <div class="carousel-caption">
            <h3>No mouse navigation</h3>
            <p>This carousel hides navigation arrows and indicators.</p>
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- <img class="benefitImage col-xs-10 col-md-4" src="{{getImageName(benefitItem.image)}}"> -->
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" src="{{getIconName(benefitItem.icon)}}" />
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit {{i+1}}<br />{{benefitItem.heading}}</h3>
          <p class="benefitDetailText">{{benefitItem.description}}</p>
        </div>
      </div>
    </div>
    <!-- <div class="row" *ngIf="i%2===1">
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" src="{{getIconName(benefitItem.icon)}}" />
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit {{i+1}}<br />{{benefitItem.heading}}</h3>
          <p class="benefitDetailText">{{benefitItem.description}}</p>
        </div>
      </div>
      <img class="benefitImage col-xs-10 col-md-4" src="{{getImageName(benefitItem.image)}}">
      >
    </div> -->
  </div>
</div>
<!-- <div class="col-xs-12 benefitMainContainer">
    <div class="benefitInnerContainer row col-xs-12 col-md-10 col-lg-8">
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" src="../assets/images/radio.png" />
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit 2</h3>
          <p class="benefitDetailText">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem
            Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak.
          </p>
        </div>
      </div>
      <img class="benefitImage col-xs-10 col-md-4"
        src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/9ncuAJ0/cheerful-young-man-sitting-at-table-studying-and-drinking-juice_e1vqhlvhx__F0000.png">
    </div>
  </div>
  <div class="col-xs-12 benefitMainContainer">
    <div class="benefitInnerContainer row col-xs-12 col-md-10 col-lg-8">
      <img class="benefitImage col-xs-10 col-md-4"
        src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/9ncuAJ0/cheerful-young-man-sitting-at-table-studying-and-drinking-juice_e1vqhlvhx__F0000.png">
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" src="../assets/images/radio.png" />
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit 3</h3>
          <p class="benefitDetailText">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem
            Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 benefitMainContainer">
    <div class="benefitInnerContainer row col-xs-12 col-md-10 col-lg-8">
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" src="../assets/images/radio.png" />
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit 4</h3>
          <p class="benefitDetailText">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem
            Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak.
          </p>
        </div>
      </div>
      <img class="benefitImage col-xs-10 col-md-4"
        src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/9ncuAJ0/cheerful-young-man-sitting-at-table-studying-and-drinking-juice_e1vqhlvhx__F0000.png">
    </div>
  </div> -->
<div class="col-xs-12 completeFormButtonContainer">
  <button class="completeFormButton" (click)="scrollToForm()">Complete the form</button>
</div>