<!-- put width 100% -->
<!-- <div> -->
<p class="wizardTitle">Step 1 - Business</p>
<p class="wizardSubtitle">Please tell us about your business so we can suggest the right plan for you</p>
<div>
  <!-- <ul class="list-group"> -->
  <li class="list-group-item .col-xs-12" *ngFor="let item of itemsList">
    <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}"
      (change)="onItemChange(item)" class="radioButton" />
    <p class="optionText radioOpt">{{item.name}}</p>
  </li>
  <!-- </ul> -->
</div>
<!-- </div> -->