.list-group-item {
  display: flex;
  flex-direction: row;
  border-width: 0px;
  border-bottom: 1.5px solid;
  border-bottom-color: #F3F3F3;
  max-width: 250px;
}

.radioButton {
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 15px;
}

.radioOpt {
  align-self: center;
  margin-top: -2px;
}

.otherBusinessInput {
  height: 25px;
  border-radius: 5px;
  margin-left: 20px;
  padding: 3px;

  background: #fff;
  border: 1.5px solid #F3F3F3; 
}