<div>
  <h2>Step 3 - Sales</h2>
  <p>Tell us about your sales, so we can optimize your experience accordingly</p>
  <div>
    <h3><b>1.How much is your square footage?</b></h3>
    <input type="text" name="input" placeholder="Type Answer" ng-model="example.text" ng-pattern="example.word" required ng-trim="false">
    <h3><b>1.How much is your global sales?</b></h3>
    <input type="text" name="input" placeholder="Type Answer" ng-model="example.text" ng-pattern="example.word" required ng-trim="false">
  </div>
</div>