<div class="banner">
    <h3 class="bannerText">Benefits you get</h3>
  </div>
  <div class="benefitItemContainer" *ngFor="let benefitItem of selectedBenefits; let i = index">
    <div class="benefitItemInnerContainer">
      <div class="tooltipContainer">
        <button class="tooltipButton" matTooltip="Info about the action" (click)="onPressInfo(i)"
          aria-label="Button that displays a tooltip when focused or hovered over">
          <img id="infoButton{{i}}"  #infoButton src="../../assets/images/info.png" class="tooltipButton" />
        </button>
        <div id="cardContainer{{i}}" class="cardContainer" #card *ngIf="showInfoPanel(i)">
          <div class="cardImageContainer">
            <div class="imageContainer" *ngFor="let benefitImage of benefitItem.mainImage; let j = index">
              <p class="imageTitle">{{benefitItem.heading}}</p>
              <img class="cardImage"
                src="{{getImageName(benefitImage)}}">
            </div>
            <!-- <div class="imageContainer">
              <p class="imageTitle">Shoes</p>
              <img class="cardImage" src="https://i.pinimg.com/236x/de/ee/81/deee8140f767232c43f0d81fd6d189e7.jpg">
            </div> -->
          </div>
          <div class="cardInfoContainer">
            <h4 class="cardTitle">{{benefitItem.heading}}</h4>
            <p class="cardDescription">{{benefitItem.description}}</p>
            <a>
              <i class="cardAction" (click)="onCloseCardRequest()">Ok, Got it</i>
            </a>
          </div>
        </div>
      </div>
      <h4 class="benefitTitle">{{benefitItem.heading}}</h4>
      <img src="{{getIconName(benefitItem.icon)}}" class="benefitIcon" />

    </div>
  </div>
  <a (click)="showBenefitPanel()">
    <div class="viewFullContainer showPanelButton">
      <h4 class="viewFullText">View Full Benefits</h4>
    </div>
  </a>
