<div class="planContainer">
  <h4 class="viewFullText">The Right Plan for you</h4>
  <h4 class="planTitle">{{selectedPlan.planName}}</h4>
  <img class="spectrum" src="../../assets/images/{{getCurrTierSpectrum()}}" />
  <div class="banner">
    <h4 class="bannerText">In this tier you get</h4>
  </div>
  <div class="storeContainer">
    <div class="storeSingleRow">
      <img src="../../assets/icons/tier-store-icon.png" class="storeIcon" />
      <h4 class="storeNum">{{selectedPlan.stores}} Stores</h4>
    </div>
    <div class="storeRow">
      <div class="storeCol">
        <img src="../../assets/icons/tier-shopper-icon.png" class="storeIcon" />
        <h4 class="storeNum">{{selectedPlan.shoppers}} Shoppers</h4>
      </div>
      <div class="storeCol">
        <img src="../../assets/icons/tier-influencers-icon.png" class="storeIcon" />
        <h4 class="storeNum">{{selectedPlan.influencers}} Influencers</h4>
      </div>
      <div class="storeCol">
        <img src="../../assets/icons/tier-admin-icon.png" class="storeIcon" />
        <h4 class="storeNum">{{selectedPlan.admin}} Admin</h4>
      </div>
    </div>
    <div class="storeSingleRow">
      <img src="../../assets/icons/tier-product-category.png" class="storeIcon" />
      <h4 class="storeNum">{{selectedPlan.productCategory}} Product Categories</h4>
    </div>
    <div class="storeSingleRow">
      <img src="../../assets/icons/mcart-icon.png" class="storeIcon" />
      <h4 class="storeNum">{{selectedPlan.mCarts}} mCarts</h4>
    </div>
  </div>
  <a (click)="onShowPlanTable()" class="viewFullContainer">
    <div>
      <h4 class="viewFullText">View Full Comparison</h4>
    </div>
  </a>
</div>