<div class=".col-xs-12">
  <h2 class="wizardTitle">Step {{currStepNumber + 1}} - Other Options</h2>
  <p class="wizardSubtitle">Tell us about your sales, so we can optimize your experience accordingly</p>
  <div>
    <form class="inputGroup">
      <ul class="list-group list-container">
        <li class="listItemContainer">
          <mat-checkbox class="radioButton" (change)="markChecked(0)" [(ngModel)]="selectAllCategoriesChecked" [ngModelOptions]="{standalone: true}">
          </mat-checkbox>
          <p class="list-item-title"><b>Shoppable Wall</b></p>
          <div class="counterMainContainer">
            <button class="iconContainer" (click)="increaseCount()">
              <i class="material-icons">
                keyboard_arrow_up
              </i>
            </button>

            <div class="counterBody">
              <p class="counterText">{{wallCount}}</p>
            </div>
            <button class="iconContainer" (click)="decreaseCount()">
              <i class="material-icons">
                keyboard_arrow_down
              </i>
            </button>
          </div>
        </li>
        <li class="listItemContainer">
          <mat-checkbox class="radioButton" (change)="markChecked(1)" [(ngModel)]="selectAllCategoriesChecked" [ngModelOptions]="{standalone: true}">
          </mat-checkbox>
          <p class="list-item-title"><b>Advanced Analytics</b></p>
        </li>
        <li class="listItemContainer">
          <mat-checkbox class="radioButton" (change)="markChecked(2)" [(ngModel)]="selectAllCategoriesChecked" [ngModelOptions]="{standalone: true}">
          </mat-checkbox>
          <p class="list-item-title"><b>AI-based CRM</b></p>
        </li>
      </ul>
    </form>
  </div>
</div>