<ng-template #content let-modal>
  <div class="modal-header modalHeader">
    <h4 class="modalTitle" id="modal-basic-title">Add Store
    </h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="inputGroup">
          <label class="inputLabel" for="storeName">Store Name</label>
          <input id="storeName" placeholder="Nike" class="form-control">
        </div>

        <div class="inputGroup">
          <label class="inputLabel" for="storeWebsite">Store Website</label>
          <input id="storeName" class="form-control" placeholder="www.nike.com">
        </div>
        <div class="inputGroup">
          <label class="inputLabel" for="storeWebsite">Region</label>
          <div class="row">
            <div class="col">
              <div ngbDropdown class="dropdownContainer">
                <button class="dropdownButton" id="dropdownBasic1" ngbDropdownToggle>{{selectedRegion.name}}</button>
                <!-- <i class="fas fa-sort-down fa-2x dropdownIcon"></i> -->
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownContainer">
                  <li *ngFor="let region of regions; let i = index">
                    <button class="dropdown-item" (click)="onSelectRegion(region)">{{region.name}}</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="inputGroup">
          <label class="inputLabel" for="storeWebsite">Direct Relationship</label>
          <div class="row relationRow">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio1">Yes</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio2">No</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Add Store</button>
  </div>
</ng-template>
<li class="list-group-item listItemContainer add_new" style="cursor: pointer;" (click)="open(content);">
  <p class="list-item-title listAddStore"><b>Add new store</b>
    <mat-icon color="primary">add_circle</mat-icon>
  </p>
</li>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr> -->

<!-- <pre>{{closeResult}}</pre> -->
