<div class="jumbotron-fluid">
  <p class="jumbotronHeader"> Find the right plan for your business</p>
  <p class="jumbotronSubHeader">Plug in your desired numbers in our Plan Calculator to discover your perfect plan</p>
</div>

<div class="container-fluid mainContainer row">
  <div class="col-lg-8 col-md-12 leftContainer">
    <div class="billingContainer row">
      <div class="billingInnerContainer col-md-4 col-sm-6 col-xs-12">
        <p class="billingHeader">Approximate Profit:</p>
        <p class="billingSubHeader">{{getTotalProfit()}}</p>
      </div>
      <div class="billingInnerContainer col-md-4 col-sm-6 col-xs-12">
        <p class="billingHeader">Price Range:</p>
        <p class="billingSubHeader">{{getPriceRange()}}</p>
      </div>
      <div class="btn-group billingInnerContainer col-md-4 col-sm-6 col-xs-12" role="group">
        <button type="button" [disabled]="isCurrStepBeforeGMV()" class="btn buttonPricing" (click)="onClickPlan(0)"
          [ngStyle]="annualStyle">
          Annual Billing
        </button>
        <button type="button" [disabled]="isCurrStepBeforeGMV()" class="btn buttonPricing" (click)="onClickPlan(1)"
          [ngStyle]="monthlyStyle">Monthly
          Billing
        </button>
      </div>
    </div>
    <div #pricingWizardDiv class="wizard col-xs-12">
      <app-pricing-wizard (stepChanged)="stepChangedHandler($event)" class="col-xs-12"></app-pricing-wizard>
    </div>

  </div>
  <div class="col-lg-2 col-md-12 adsContainer">
    <app-plan-info-wizard (showBenefitDetailTable)="onBenefitEventChange($event)"
      [currPriceWizardStep]="currPriceWizardStep"></app-plan-info-wizard>
  </div>
</div>

<div *ngIf="getShowHideBenefitPanel()" #benefitTable class="benefitInfoPanel col-xs-12">
  <div class="jumbotron-fluid">
    <h1 class="benefitsTitle">Benefits</h1>
    <p class="benefitsSubTitle">Look at the great amount of benefits that mCart has for you</p>
  </div>
  <div class="col-xs-12 benefitMainContainer">
    <div class="benefitInnerContainer row col-xs-12 col-md-10 col-lg-8">
      <img class="benefitImage col-xs-10 col-md-4"
        src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/9ncuAJ0/cheerful-young-man-sitting-at-table-studying-and-drinking-juice_e1vqhlvhx__F0000.png">
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" src="../assets/images/radio.png" />
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit 1</h3>
          <p class="benefitDetailText">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem
            Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 benefitMainContainer">
    <div class="benefitInnerContainer row col-xs-12 col-md-10 col-lg-8">
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" src="../assets/images/radio.png" />
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit 2</h3>
          <p class="benefitDetailText">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem
            Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak.
          </p>
        </div>
      </div>
      <img class="benefitImage col-xs-10 col-md-4"
        src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/9ncuAJ0/cheerful-young-man-sitting-at-table-studying-and-drinking-juice_e1vqhlvhx__F0000.png">
    </div>
  </div>
  <div class="col-xs-12 benefitMainContainer">
    <div class="benefitInnerContainer row col-xs-12 col-md-10 col-lg-8">
      <img class="benefitImage col-xs-10 col-md-4"
        src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/9ncuAJ0/cheerful-young-man-sitting-at-table-studying-and-drinking-juice_e1vqhlvhx__F0000.png">
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" src="../assets/images/radio.png" />
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit 3</h3>
          <p class="benefitDetailText">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem
            Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 benefitMainContainer">
    <div class="benefitInnerContainer row col-xs-12 col-md-10 col-lg-8">
      <div class="row col-xs-10 col-sm-7 benefitDetailContainer">
        <img class="benefitIcon" src="../assets/images/radio.png" />
        <div class="col-xs-12 col-sm-8 benefitDetails">
          <h3 class="benefitHeader">Benefit 4</h3>
          <p class="benefitDetailText">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem
            Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak.
          </p>
        </div>
      </div>
      <img class="benefitImage col-xs-10 col-md-4"
        src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/9ncuAJ0/cheerful-young-man-sitting-at-table-studying-and-drinking-juice_e1vqhlvhx__F0000.png">
    </div>
  </div>
  <div class="col-xs-12 completeFormButtonContainer">
    <button class="completeFormButton" (click)="scrollToForm()">Complete the form</button>
  </div>
</div>

<div class="table-responsive">

  <table class="table table-bordered ">
    <thead class="thead-light">
      <tr>
        <th class="leftColumn"></th>
        <th>Pilot</th>
        <th>Standard</th>
        <th>Enterprise</th>
        <th>High-Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="leftColumn">Commission</td>
        <td>None</td>
        <td>5% of the affiliate sales rev</td>
        <td>2% of the affiliate sales rev</td>
        <td>Contact Us</td>
      </tr>
    </tbody>
  </table>

  <p>Supported Stores</p>
  <table class="table table-bordered w-auto">
    <thead class="thead-light">
      <tr>
        <th class="leftColumn"></th>
        <th>Pilot</th>
        <th>Standard</th>
        <th>Enterprise</th>
        <th>High-Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="leftColumn"># of supported stores (Already supported)</td>
        <td>1</td>
        <td>2-10</td>
        <td>Upto</td>
        <td>All</td>
      </tr>
      <tr>
        <td class="leftColumn"># of supported stores (New)</td>
        <td>$10k/Store</td>
        <td>$10k/Store</td>
        <td>$10k/Store</td>
        <td>$5k/Store</td>
      </tr>
      <tr>
        <td class="leftColumn"># of Product Categories</td>
        <td>100</td>
        <td>300</td>
        <td>800</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td class="leftColumn"># of SKUs</td>
        <td>10,000</td>
        <td>Up to 1 Million</td>
        <td>Up to 10 Million</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td class="leftColumn textItalic"># of mCarts</td>
        <td>100</td>
        <td>1500</td>
        <td>5000</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td class="leftColumn textItalic"># of Users</td>
        <td>Up to <br />
          - 100k Shoppers
          - 50 Influencers
          - 1 Admin
        </td>
        <td>Up to <br />
          - 1 Million Shoppers
          - 200 Influencers
          - 30 Sales People
          - 5 Admin ( 1 Super Admin, 2 Marketing, 2 Editorial)
        </td>
        <td>Up to <br />
          - 3 Million Shoppers
          - 1000 Influencers
          - 200 Sales People
          - 12 Admin ( 2 Super Admin, 10 Marketing, 5 Editorial, 1 Analytical )
        </td>
        <td>Unlimited Users
        </td>
      </tr>
    </tbody>
  </table>

  <!--Table-->
  <table class="table table-bordered w-auto">
    <thead class="thead-light">
      <tr>
        <th class="leftColumn"></th>
        <th>Pilot</th>
        <th>Standard</th>
        <th>Enterprise</th>
        <th>High-Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="leftColumn">Single Sign on</td>
        <td class="valueDashed">&#8212;</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
      </tr>
    </tbody>
  </table>

  <p>User's Dashboards</p>
  <table class="table table-bordered w-auto">
    <thead class="thead-light">
      <tr>
        <th class="leftColumn"></th>
        <th>Pilot</th>
        <th>Standard</th>
        <th>Enterprise</th>
        <th>High-Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="leftColumn">Shoppers</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
      </tr>
      <tr>
        <td class="leftColumn">Influencers</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
      </tr>
      <tr>
        <td class="leftColumn">Super Admin</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
      </tr>
      <tr>
        <td class="leftColumn textItalic">Admin(Marketing)</td>
        <td class="valueDashed">&#8212;</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
      </tr>
      <tr>
        <td class="leftColumn textItalic">Admin(Editorial)</td>
        <td class="valueDashed">&#8212;</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
      </tr>
      <tr>
        <td class="leftColumn textItalic">Admin(Analytical)</td>
        <td class="valueDashed">&#8212;</td>
        <td class="valueDashed">&#8212;</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
      </tr>
      <tr>
        <td class="leftColumn textBold">Partners Stores Admin</td>
        <td class="valueDashed">&#8212;</td>
        <td class="valueDashed">&#8212;</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
      </tr>
      <tr>
        <td class="leftColumn textItalic">Omnichannel Sales People</td>
        <td class="valueDashed">&#8212;</td>
        <td class="valueDashed">&#8212;</td>
        <td class="valueChecked">✓</td>
        <td class="valueChecked">✓</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <div class="d-none d-xl-block" style="background: #007bff; color: #fff; padding: 5px; text-align: center;">XL</div>
  <div class="d-none d-lg-block d-xl-none" style="background: #27a745; color: #fff; padding: 5px; text-align: center;">
    LG</div>
  <div class="d-none d-md-block d-lg-none" style="background: #ffc108; color: #fff; padding: 5px; text-align: center;">
    MD</div>
  <div class="d-none d-sm-block d-md-none" style="background: #18a2b8; color: #fff; padding: 5px; text-align: center;">
    SM</div>
  <div class="d-block d-sm-none" style="background: #dc3545; color: #fff; padding: 5px; text-align: center;">XS</div>

</div>