.planOptRow {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex: 1;
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-flow: row wrap;
  /* Safari 6.1+ */
  display: flex;
  flex-flow: row wrap;
}

.planOptContainer {
  border: 2px solid #7ce1d9;
  border-radius: 5px;
  height: 200px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  margin: 10px;
}

.planOptContainerHighlighted {
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  height: 200px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  margin: 10px;
}

.optTextGroup {
  width: 80%;
}

.optText {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: .5rem;
  text-align: center;
  color: #444444;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin: 15px 0;
}
