<div class="container">
  <h2 class="wizardTitle">Step 6- Choose your categories</h2>
  <p class="wizardSubtitle">Select any category that wish to support in your marketplace</p>

  <div>
    <ul class="list-group list-container">
      <li class="list-group-item listHeader listItemContainer">
        <p class="list-item-title"><b>Categories List</b></p>
      </li>
      <li class="list-group-item listItemContainer" *ngFor="let order of orders; let i = index;"
        [ngClass]="{oddListRow: (i % 2) === 1, evenListRow: (i % 2) === 0 }">
        <p class="list-item-title">{{order.name}}</p>
        <input type="checkbox">
      </li>
      <li class="list-group-item listItemContainer"> <b>
          <p class="list-item-title">Add new category</p>
        </b>
      </li>
    </ul>
  </div>

  <div class="suggested-stores">
    <ul class="list-group list-container">
      <li class="list-group-item listHeader listItemContainer">
        <p class="list-item-title"><b>Suggested Categories</b></p>
      </li>
      <li class="list-group-item listItemContainer" *ngFor="let order of suggestedStores; let i = index;"
        [ngClass]="{oddListRow: (i % 2) === 1, evenListRow: (i % 2) === 0 }">
        <p class="list-item-title">{{order.name}}</p>
        <input type="checkbox">
      </li>
    </ul>
  </div>
</div>