/* You can add global styles to this file, and also import other style files */

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background, .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
  background: #F3F3F3;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #93d0CC;
}

.mat-slider .mat-accent .mat-slider-thumb-container .mat-slider-min-value .mat-slider-thumb {
  background: red;
}

.mat-accent .mat-slider-thumb {
  height: 25px;
  width: 25px;
  background-color: #80BAB1;
  border: 0px;
  bottom: -17px;
  right: -15px;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: #80BAB1;
}

.mat-slider-min-value .mat-slider-thumb-container .mat-slider-thumb {
  background-color: #80BAB1;
}

.mat-checkbox {
  color: red;
}

.mat-checkbox .mat-checkbox-frame {
  background: #F1F1F1;
  border-radius: 4px;
  color: red;
}

.mat-checkbox-checked .mat-checkbox-frame {
  color: red !important;
  background-color: #93d0CC !important;
}
.mat-checkbox-checked .mat-checkbox-background {
  color: red !important;
  background-color: #93d0CC !important;
}