/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  font-family: 'Roboto';
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background, .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
  background: #F3F3F3;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #93d0CC;
}

.mat-accent .mat-slider-thumb {
  height: 25px;
  width: 25px;
  background-color: #80BAB1;
  border: 0px;
  bottom: -17px;
  right: -15px;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: #80BAB1;
}

.mat-slider-min-value .mat-slider-thumb-container .mat-slider-thumb {
  background-color: #80BAB1;
}

.mat-checkbox {
}

.mat-checkbox .mat-checkbox-frame {
  background: #F1F1F1;
  border-radius: 4px;
}

.mat-checkbox-checked .mat-checkbox-frame {
  background-color: #93d0CC !important;
  color: #93d0CC !important;
}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: #93d0CC !important;
  color: #93d0CC !important;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background, .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #93d0CC;
}

.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: #80BAB1;
  border: solid 2px #80BAB1;
  bottom: -20px;
  right: -20px;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}
.radioButton {
  margin-right: 10px;
  margin-top: 2px;
  
  -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
    
 display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
content: '';
    background: #fff;
    
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
border-radius: 50%; 
}
.radioButton:checked::before {
    content: "\2713";
    font: 14px/1 'Open Sans', sans-serif;
    color: #fff;
font-weight:bold;

}
.radioButton:checked {
background: #95D0CC;
border: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;


}

.mat-slider-thumb {
  transform: scale(.65) !important;
  /* background:  */
}
/*
::ng-deep .mat-slider-thumb-label {
  background: blue;
} */
