.panelContainer {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(181, 167, 181, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(181, 167, 181, 1);
  box-shadow: 0px 0px 10px 0px rgba(181, 167, 181, 1);
}

.banner {
  background: #93D0CC;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bannerText {
  font-size: 14px;
  color: white;
  text-align: center;
  margin: 0px;
}

.benefitItemContainer {
  border-top: 1px solid #93D0CC;
  border-left: 1px solid #93D0CC;
  border-right: 1px solid #93D0CC;
  background: white;
  height: 120px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.benefitItemInnerContainer {
  max-width: 300px;
  height: 110px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 0px 10px;
}

.benefitTitle {
  font-size: 13px;
  color: #444444;
  text-align: center;
  margin: 0px;
}

.benefitIcon {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.tooltipContainer {
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

.tooltipButton {
  width: 20px;
  height: 20px;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0px;
}

.viewFullContainer {
  background: white;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #80BAB1;
}

.viewFullText {
  font-size: 14px;
  color: #444444;
  text-align: center;
  margin: 0px;
}

.planContainer {
  display: flex;
  align-items: center;
  /* background: red; */
  flex-direction: column;
  padding-top: 15px;
}

.planTitle {
  font-size: 11px;
  color: #93D0CC;
  margin: 5px 0px;
}

.showPanelButton {
  cursor: pointer;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 20;
  background: white;
  border: .7px solid #7CE1D9;
  -webkit-box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);
}

.cardImage {
  height: 100%;
  width: 100%;
  margin-top: -30px;
}

.imageTitle {
  position: relative;
  width: 100%;
  background: #7CE1D990;
  top: 0;
  z-index: 21;
  margin: 0;
  padding: 0;
  height: 30px;
  font-size: 12px;
  text-align: center;
  vertical-align: center;
  padding-top: 5px;
}

.cardInfoContainer {
  padding: 3% 10%;
}

.cardTitle {
  font-size: 14px;
  font-weight: bold;
  color: #444444;
}

.cardDescription {
  font-size: 10px;
  color: #a0a0a0;
}

.cardAction {
  font-size: 14px;
  color: #7CE1D9;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.cardImageContainer {
  display: flex;
  flex-direction: row;
}

@media (min-width:320px) {

  /* smartphones, iPhone, portrait 480x320 phones */
  .cardContainer {
    width: 250px;
    margin-left: -230px;
  }

  .cardImageContainer {
    /* background: purple; */
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
  }

  .imageContainer {
    height: 210px;
    width: 210px;
    align-self: center;
    /* background: yellow; */
    margin-top: 10px;
  }
}

@media (min-width:641px) {
  .cardContainer {
    width: 650px;
    margin-left: -400px;
    /* display: flex;
    flex-direction: row; */
  }

  .cardImageContainer {
    /* background: purple; */
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    justify-content: space-between;
  }

  .imageContainer {
    height: 250px;
    width: 250px;
    align-self: center;
    /* background: yellow; */
    margin-top: 10px;
  }

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
  .cardContainer {
    width: 650px;
    margin-left: -560px;
    /* display: flex;
    flex-direction: row; */
  }

  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}
